{% extends 'blogapp/base.html' %}
{% load l10n %}
{% load i18n %}
{% block title %}Главная – Bit News{% endblock %}

{% block content %}
    <main role="main" aria-labelledby="news-list-title">
        <h1 id="news-list-title" class="visually-hidden">Список новостей</h1>
        <div class="row g-4" id="news-container">
            {% for article in news_list %}
                {% include "includes/_news_card.html" %}
            {% endfor %}
        </div>
    </main>
    <div id="loading-spinner" class="text-center my-4 d-none">
        <div class="spinner-border" id="custom-spinner" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script>
        let currentPage = 1;
        let isLoading = false;
        let hasMorePages = true;

        window.addEventListener("scroll", async () => {
            if (isLoading || !hasMorePages) return;

            const nearBottom = window.innerHeight + window.scrollY >= document.body.offsetHeight - 300;

            if (nearBottom) {
                document.getElementById("loading-spinner").classList.remove("d-none");
                isLoading = true;
                currentPage++;

                try {
                    const response = await fetch(`/load_more_news/?page=${currentPage}`);
                    const html = await response.text();

                    if (html.trim() === "") {
                        hasMorePages = false;
                        return;
                    }

                    const container = document.querySelector("#news-container");
                    const temp = document.createElement("div");
                    temp.innerHTML = html;

                    // Добавляем все карточки
                    for (const child of temp.children) {
                        container.appendChild(child);
                    }

                } catch (err) {
                    console.error("Ошибка при загрузке новостей:", err);
                } finally {
                    isLoading = false;
                    document.getElementById("loading-spinner").classList.add("d-none");
                }
            }
        });
    </script>
{% endblock %}

